body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Add border-radius for circular shape */
    margin: 10px; /* Add margin for spacing between images */
}

.services {
    text-align: center;
}

.service {
    font-weight: bold;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-heading {
    font-weight: bold;
}

/* Contact Form Styles */
.contact-form {
    margin-top: 20px;
    text-align: center;
}

.contact-form h2 {
    font-weight: bold;
}

.contact-form form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form label,
.contact-form input,
.contact-form textarea,
.contact-form button {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
